@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

.container{
    height: 99vh;
    display: flex;
    flex-direction: column;
}

.layout{
    display: flex;
    height: 100%;
    margin: .3rem;
    min-width: 800px;
}

main{
    width: 100%;
    box-shadow: 1px 1px 3px rgba(28, 28, 167, 0.485);
    margin: .3rem;
    background: rgb(250, 250, 250);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    min-height: 600px;
}




