.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.check-scan-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 4fr;
    gap: 10px;
    box-shadow: none;
    font-size: .8rem;
    font-weight: 5 00;
}

.check-scan-page-grid-flex-box{
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    height: 100%;
}

.scanner-details, 
.check-details, 
.check-image-container, 
.scanned-checks{
    box-shadow: 1px 1px 3px rgba(28, 28, 167, 0.485);
    border-radius: 4px;
    padding: .5rem ;
}

.scanner-details{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scanner-details-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3{
    font-size: .85rem;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.767);
    text-decoration: underline;
}

.check-status-text{
    font-weight: bold;
    color: green;
}

.check-scanner-type-text{
    color: #015CA9;
    font-weight: bold;
}

.check-image-container{
    height: 100%;
    position: relative;
}

.check-image{
    max-height: 230px;
    width: 100%;
    margin-top: 1rem;
}

.check-details{
    position: relative;
    height: 70%;    
}

.check-detail-labels-container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.check-detail-label-group{
    display: flex;
    margin-bottom: .8rem;
}

.check-detail-text{
    margin-left: .3rem;
}

.scanned-checks{
    grid-column: 1 / 3;
    height: 100%;
}

.check-image-button{
    align-self: start;
    padding: .4rem .7rem;
    background: #015CA9;
    color:white;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.scan-button:hover{
    opacity: .9;
}

.scanned-checks-table{
    width: 100%;
}

.table-wrapper{
    max-height: 350px;
    overflow-y: scroll;
}


table, th, td {
    border-collapse: collapse;
    border: none;
}

td{
    text-indent: 10px;
    padding: .5rem 0;
}

th{
    background: #0a77d0;
    color: white;
    padding: .45rem 0;
    text-indent: 10px;
    text-align: start;
    font-weight: 600;
    position: sticky;
    top: 0px;
}

tr{
    cursor: pointer;
}

tr:hover{
    background: rgb(230,230,230);
}

.scanned-check-title{
    margin-bottom: .5rem;
}

.check-image-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}