.header{
    position:sticky;
    width: 100%;
    padding: 1.3rem 2rem;
    box-shadow: 1px 1px 3px rgba(28, 28, 167, 0.485);
    background: white;
    display: flex;
    justify-content: space-between;
    /* margin: 0 .5rem;
    border-radius: 5px; */
}

.header h1{
    color: #015CA9;
    font-size: 1.5rem;
    font-weight: 600;
}

.header-flex-group{
    display: flex;
    align-items: center;
}

.username-text{
    color: #015CA9;
    font-weight: 600;
    font-size: .8rem;
    cursor: pointer;
    text-transform: capitalize;
}