.header{
    position:sticky;
    width: 100%;
    padding: 1rem 2rem;
    box-shadow: 1px 1px 3px rgba(28, 28, 167, 0.485);
    background: rgb(250, 250, 250);
    /* margin: 0 .5rem;
    border-radius: 5px; */
}

.header h1{
    color: #015CA9;
    font-size: 1.5rem;
    font-weight: 600;
}

.header-flex-group{
    display: flex;
    align-items: center;
}