.login-container {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    box-shadow: 1px 1px 3px rgba(28, 28, 167, 0.485);
    background: white;
    border-radius: 5px;
}

.permission-list,
.selected-permission-list {
    width: 300px;
    height: 400px;
    overflow-y: scroll;
    background: whitesmoke;
    margin-bottom: .7rem;
}

.permission-list li,
.selected-permission-list li {
    cursor: pointer;
    padding: .2rem 0;
}

.permission-list li:hover {
    background: green;
}

.selected-permission-list li:hover {
    background: rgb(197, 31, 31);
}