.side-bar{
    /* background: rgb(250, 250, 250); */
    background: white;
    width: 17%;
    max-width: 200px;
   
    margin: .3rem;

    padding: .45rem .3rem;

    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(28, 28, 167, 0.485);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    transition:  width 400ms ease;
    
    /* transition: none; */
}

.nav-item{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: .8rem;
    background: rgb(212, 24, 24);
    margin-bottom: .7rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.433);

    cursor: pointer;

    text-decoration: none;
    color: white;

    font-weight: 500;
   
}

.nav-item:hover {
    opacity: .9;
}

.nav-item-text{
    font-size: .8rem;
    margin-left: .4rem;
    transition:  font-size 0ms ease 300ms ;
}

.sidebar-icon{
    width: 22px;
    height: 22px;
}

@media (max-width: 1200px) {

    .nav-item-text{
        transition:  font-size 10ms ease;
        font-size: 0rem;
    }

    .side-bar{
        width: 70px;
        transition:  width 600ms ease;
    }

    .sidebar-icon{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}